.footer {
    background-color: #CA1B37; 
    color: #fff; 
    padding: 20px 10px;
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100%; 
    text-align: left; 
    box-sizing: border-box;
  }
  
  
  .footer-content {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    align-items: flex-start; 
  }
  
 
  .footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; 
    margin-right: 20px; 
  }
  
  .footer-nav ul li {
    margin: 10px 0; 
  }
  
  .footer-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }
  
  .footer-nav ul li a:hover {
    color: #34dba9; 
  }
  
  
  .email, .phone {
    font-size: 16px;
    margin: 10px 0;
    max-width: 300px; 
  }
  
  .email p, .phone p {
    margin: 5px 0;
  }
  
  .email a, .phone a {
    text-decoration: none;
    color: #fff;
  }
  
  .email a:hover, .phone a:hover {
    color: #34dba9; 
  }
  
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    color: #bbb; 
    text-align: center; 
  }
  
  
  @media (max-width: 768px) {
   
    .footer-content {
      flex-direction: column;
      align-items: center; 
    }
  
    .footer-nav ul {
      margin-bottom: 20px; 
    }
  
    .email, .phone {
      width: 100%;
      text-align: center; 
    }
  
    .footer-nav ul li {
      margin: 8px 0;
    }
  }
  